.sidebar {
  height: auto;
  width: 100%;
  background-color: #f8f9fa;
  position: relative;
  box-sizing: border-box;
}

.sidebar .btn {
  display: flex;
  align-items: center;
}

.sidebar .btn i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.sidebar li.active {
  border-left: 4px solid blue;

}
