.profile-container {
    min-height: 100vh;
    align-items: center;
    padding-top: 1rem;
}


.profile-card {
    width: 100%;
    /* max-width: 1200px; */
    background-color: white;
    border-radius: 8px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}


.profile-picture img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}


h4 {
    font-size: 1.8rem;
    color: #333;
}

.text-primary {
    color: #007bff;
}

.text-muted {
    color: #6c757d;
}

p {
    margin: 0;
}


.nav-tabs .nav-link {
    color: #007bff;
    border: none;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #007bff;
    border: none;
}


.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}