.navbar {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar .form-control {
    outline: none;
    box-shadow: none;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
    padding: 3px 6px; /* Adjust padding for a circular look */
    line-height: 1; /* Keeps text centered */
    background-color: #dc3545; /* Red color for badge */
    color: white;
    border-radius: 50%; /* Makes it fully circular */
    transform: translate(50%, -50%); /* Fine-tunes the position */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

/* .dropdown-menu {
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
} */


.navbar .ms-auto {
    display: flex;
    align-items: center;
    /* gap: 15px; */
}


.btn-primary {
    white-space: nowrap;
}


.navbar .btn i {
    font-size: 1.5rem;
}
